<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>Results</title>
</head>
<body>
    {{header_div | safe}}
    <div class="content">
        <div class="container_1">
            <div id="result_container_head">EXAMINATION RESULTS</div>
            <div class="container_1_body">
                <a id="sslc_button" href="#">SSLC EXAMINATION RESULTS <br> MARCH 2026</a>
                <a id="hse_button" href="HSC_2026">HSE(+2) EXAMINATION RESULTS <br> MARCH 2026</a>
            </div>
            <hr>
        </div>
    </div>
</body>
</html>