<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HSE(+2) Results</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='markpg.css') }}">
</head>
<body>
    {{ header_div | safe }}
    <div class="content">{% for i in range(0,length) %}
        <div class="grp_container">
            <div id="grp_header">{{ groups[i].name }}</div>
            <div class="table-box">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr><th>RANK</th><th>CLASS</th><th>NAME</th><th>LANG</th><th>ENG</th><th>{{ groups[i].sub1 }}</th><th>{{ groups[i].sub2 }}</th><th>{{ groups[i].sub3 }}</th><th>{{ groups[i].sub4 }}</th><th>TOTAL</th><th>CUT OFF</th></tr>
                        </thead>
                        <tbody>{% for j in range(len2) %}{% if records[j].group==groups[i].code %}
                            <tr><td>{{ records[j].rank }}</td><td>{{ records[j].class }}</td><td>{{ records[j].name }}</td><td>{{ records[j].lang }}</td><td>{{ records[j].eng }}</td><td>{{ records[j].sub1 }}</td><td>{{ records[j].sub2 }}</td><td>{{ records[j].sub3 }}</td><td>{{ records[j].sub4 }}</td><td>{{ records[j].total }}</td><td>{{ records[j].cutoff }}</td></tr>{% endif %}{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
        </div>{% endfor %}
    </div>
</body>
</html>