<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HSE(+2) Results</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='result.css') }}">
</head>
<body>
    {{ header_div | safe }}
    <div class="content">
        <div class="container_1">
            <div id="result_container_head">HSE(+2) EXAMINATION RESULTS MARCH 2026</div>
            <div class="stud_appeared">
                <div class="stud_appeared_body">
                    <div id="stud_appeared_text1">NUMBER OF STUDENTS APPEARED: 150</div>
                    <div id="stud_appeared_text2">NUMBER OF STUDENTS PASSED : 150</div>
                </div>
            </div>
            <div class="top_scorers">
                <div id="top_scorers_header">TOP SCORERS</div>
                <div class="top_scorers_table">
                    <table>
                        <thead>
                            <tr><th>RANK</th><th>REG NO</th><th>NAME</th><th>GROUP</th><th>TOTAL</th><th>VIEW MARKS</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>1</td><td>1256654</td><td>ASHWATH R</td><td>CSC</td><td>595</td><td><button>View Marks</button></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="top_marks">
                <div id="top_marks_header">SUBJECT MARKS</div>
                <div class="top_marks_table">
                    <table>
                        <thead>
                            <tr><th>SUBJECT</th><th>FIRST MARK</th><th>NO OF STUDENTS</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>MATHEMATICS</td><td>100</td><td>5</td></tr>
                            <tr><td>CHEMISTRY</td><td>100</td><td>8</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="comp_container">
                <div id="comp_header">VIEW RESULTS</div>
                <div class="comp_container_body">
                    <a href="#" id="comp_button">DOWNLOAD REPORT</a>
                    <a href="/HSC_2026/Marks/Group" id="comp_button">GROUP WISE</a>
                    <a href="#" id="comp_button">CLASS WISE</a>
                </div>
            </div>
            <hr>
        </div>
    </div>
</body>
</html>